<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-navigation__link" href="/">
      <span class="mdl-layout-title titlename"><img class="title-t" src="/pics/favicon.png" alt="T">obias Hölzer</span>
    </a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="/dash<%=url.myshit.route%>"><i class="material-icons">home</i></a>
      <a class="mdl-navigation__link" href="/dash<%=url.myshit.playground%>">playground</a>
      <a class="mdl-navigation__link" href="/dash<%=url.myshit.passwordgen%>">password</a>
      <a class="mdl-navigation__link" href="/dash<%=url.myshit.feelings%>">feelings</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title titlename">Tobias Hölzer</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/dash<%=url.myshit.route%>"><i class="material-icons">home</i></a>
    <a class="mdl-navigation__link" href="/dash<%=url.myshit.playground%>">playground</a>
    <a class="mdl-navigation__link" href="/dash<%=url.myshit.passwordgen%>">password</a>
    <a class="mdl-navigation__link" href="/dash<%=url.myshit.feelings%>">feelings</a>
  </nav>
</div>
